%html
  %head
    %meta{'charset' => 'utf-8'}
    %title Testing: jquery.ajaxfilesupload.js
  %body
    %h1 Testing: jquery.ajaxfilesupload.js
    %form{'method' => 'post', 'enctype' => 'multipart/form-data', 'id' => 'awesome_form'}
      %input{'type' => 'file', 'id' => 'files', 'name' => 'files[]', 'multiple' => 'multiple'}
      %input{'type' => 'hidden', 'id' => 'secret_key', 'value' => 'im-the-secret'}
      %input{'type' => 'submit', 'value' => 'Test!'}
    #upload_status
    %table#filelist
      %tr
        %th Files
        %th State
    %script{'type' => 'text/javascript', 'src' => 'test/public/js/jquery-1.6.1.min.js'}
    %script{'type' => 'text/javascript', 'src' => 'jquery.ajaxfilesupload.js'}
    %script{'type' => 'text/javascript', 'src' => 'test/public/js/test.example.js'}

